<div class="container">
  <div class="row flex-column align-items-center no-gutters">
    <!-- 下拉 -->
    <div class="col-6 dropdown">
      <button class="btn btn-outline-dark dropdown-toggle w-100 pt-3 pb-3 mb-5 " type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        類別
      </button>
      <div class="dropdown-menu w-100 " aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item w-100" href="#">家居物業</a>
        <a class="dropdown-item w-100" href="#">交通出行</a>
        <a class="dropdown-item w-100" href="#">休閒娛樂</a>
        <a class="dropdown-item w-100" href="#">餐飲食品</a>
        <a class="dropdown-item w-100" href="#">其他</a>

      </div>
    </div>
    <!-- 金額 -->
    <div class="row col-6 mb-5">
      <h4 class="col-4">總金額:</h3>
        <h2 class="col-8 text-right text-success">1235</h2>
    </div>

    <!-- 支出 -->
    <div class="row col-9 bg-light align-items-center justify-content-between mb-3">
      <div class="col-1">
        <i class="fas fa-home fa-3x text-danger"></i>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center">

        <h4 class="pt-3 font-weight-bold">午餐</h4>
        <p class="pt-1">2019/05/02</p>


      </div>
      <div class="col-1  h-100">
        <h5>30</h5>
      </div>
      <div class="col-3 text-center">
        <a class="btn btn-info" href="">修改</a>
        <a class="btn btn-warning" href="">刪除</a>

      </div>
    </div>
    <div class="row col-9 bg-light align-items-center justify-content-between mb-3">
      <div class="col-1">
        <i class="fas fa-home fa-3x text-danger"></i>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center">

        <h4 class="pt-3 font-weight-bold">午餐</h4>
        <p class="pt-1">2019/05/02</p>


      </div>
      <div class="col-1  h-100">
        <h5>30</h5>
      </div>
      <div class="col-3 text-center">
        <a class="btn btn-info" href="">修改</a>
        <a class="btn btn-warning" href="">刪除</a>

      </div>
    </div>
    <!-- 新增 -->
    <a href="" class="col-3 btn btn-dark mt-3 p-3">新增支出</a>
  </div>








</div>